.area {
  grid-template-areas: "name aliases" "created_at aliases";
  grid-template-columns: 144px 1fr;
  place-items: start normal;
}

@screen md {
  .area {
    grid-template-areas: "name created_at aliases";
    grid-template-columns: 1fr 1fr 2fr;
  }
}
