.area {
  grid-template-areas: "name aliases" "transactions aliases";
  grid-template-columns: 1fr auto;
  place-items: start normal;
}

@screen md {
  .area {
    grid-template-areas: "name transactions aliases";
    grid-template-columns: 1fr 1fr 2fr;
    place-items: center normal;
  }
}
